
</main>
  <footer>
    <p>Made with 🖤 by <a href="https://portfolio-nine-gules-60.vercel.app/" class="text-decoration-none text-black" target="_blank" rel="noopener noreferrer">Samuel Ogboru </a></p>
  </footer>
</div>
</body>
</html>
