<%- include('partials/header') %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="title">Title</label><br>
        <input type="text" id="title" name="postTitle" class="form-control"><br>
        <label for="post">Post</label><br>
        <textarea name="postBody" id="post" class="form-control" cols="30" rows="5"></textarea>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
    
    
</form>
<%- include('partials/footer') %>