<%- include('partials/header') %>
<form action="/" method="post">
    <input type="text" name="userName" id="userName">
    <button type="submit">Login/Signup</button>
</form>
<%- include('partials/footer') %>