<%- include('partials/header') %>
<!-- <form action="/" method="post">
    <input type="text" name="userName" id="userName">
    <button type="submit">Login/Signup</button>
</form> -->
<main class="form-signin w-100 m-auto mt-5">
    <form action="/" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in or sign up</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="Username" name="userName" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
    
        <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Sign in/Sign up</button>
    </form>
</main>

<%- include('partials/footer') %>