.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-header {
    border: 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.nav-el  li a {
    color: rgb(92, 92, 92);
}
.nav-el  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 70px;
}

footer {
    margin-top: auto;
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

footer p {
	margin: 25px;
	font-size: 12px;
  color: #fff;
}
#post {
    margin-bottom: 12px;
}
.pen, .pen:hover, .pen:focus {
    display: flex;
    justify-self: right;
    text-decoration: none;
    color: white;
    transition: background-color ease 0.4s;
    margin-bottom: 40px;
}
.pen div{
    display: flex;
    background-color: #1abc9c;
    border-radius: 13px;
    outline-color: #fff;
    align-items: center;
    justify-content: right;
}
.pen:hover div{
    background-color: #66ceb9;
}
.pen span {
    display: none;
    padding: 6px;
    opacity: 0;
    transition: hover ease 0.9s;
}
.pen:hover span {
    display: block;
    opacity: 1; 
}
.pen-container {
    position: fixed;
    right: 80px;
    bottom: 60px;
}